#Proyectos-Root {
    background-color: black;
    padding: 7em 0em 0em 0em;
}

#Proyectos-Root p {
    color: white;
    width: 70%;
}

.contenedor-proyectos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0em 5em;
    padding-bottom: 7em;
}

.titulo-proyectos {
    color: white;
}

@media only screen and (max-width: 1200px) {
    .contenedor-proyectos {
        padding: 0em 0em 7em 0em;
    }
}